.benefits-section {
    overflow: hidden;
    padding: 130px 0 90px;
    background-color: #ffffff;
    // @include bp(tablet-sm) {
    //     padding: 0 0 70px 0;
    // }

    .target-left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content-left {
            position: relative;
            z-index: 2;

            .main-heading {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 700;
                @include font-rem(32px, 42px);
                color: #2b2c3e;
                padding: 0 48px 20px 0;

                @include bp(mobile) {
                    @include font-rem(22px, 29px);
                    padding: 0 0 20px 0;
                }
            }

            p {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                @include font-rem(14px, 20px);
                letter-spacing: 0.2px;
                color: #323433;

                @include bp(mobile) {
                    margin: 0 0 30px 0;
                }
            }
        }
    }

    .benefits-slider {
        margin: 0;
        padding: 0 10px 0 10px;
        display: flex;
        min-width: 1600px;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        &::before {
            content: "";
            position: absolute;
            right: 100%;
            top: 0;
            bottom: 0;
            width: 3000px;
            background-color: #ffffff;
            z-index: 1;
        }

        .slick-list {
            overflow: visible;
        }

        .blocks {
            padding: 0 14px;

            @include bp(tablet-sm) {
                @include bp(tablet) {
                    padding: 0 0 15px 0;
                    width: 100%;
                }
            }

            @include bp(mobile) {
                padding: 0 0 15px 0;
            }

            .block-content {
                width: 300px;
                height: 357px;
                position: relative;
                overflow: hidden;
                background: radial-gradient(
                    173.12% 309.58% at 127.96% 157.71%,
                    #bfc3e9 0%,
                    rgba(191, 195, 233, 0) 100%
                );
                border-radius: 15px;
                padding: 30px 23px 0 28px;

                @include bp(tablet-sm) {
                    width: 100%;
                    height: 300px;
                }

                .image {
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    img {
                        margin: 0 0 0 auto;
                        position: relative;
                        z-index: 1;
                    }

                    &::before {
                        content: url("../images/rays.svg");
                        position: absolute;
                        right: -320px;
                        bottom: -300px;
                        z-index: 1;
                        transition: all 5s;
                        transform-origin: center center;
                        animation: 0;
                    }
                }

                .block-title {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 700;
                    @include font-rem(26px, 34px);
                    color: #000000;
                    position: relative;
                    z-index: 2;
                    padding: 0 0 24px 0;

                    @include bp(mobile) {
                        @include font-rem(20px, 26px);
                    }
                }

                p {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 600;
                    @include font-rem(12px, 17px);
                    letter-spacing: 0.2px;
                    color: #000000;
                    position: relative;
                    z-index: 2;
                    max-width: 164px;
                    max-height: 0;
                    display: inline-block;
                    overflow: hidden;
                    opacity: 0;
                    transition: all 1s;

                    @include bp(tablet-sm) {
                        opacity: 1;
                        max-height: none;
                    }
                }
            }

            &:hover {
                .image {
                    &::before {
                        animation: rotate_me 10s infinite linear;
                    }
                }

                p {
                    max-height: 300px;
                    opacity: 1;
                }
            }
        }

        li:nth-child(5n + 1) {
            .block-content {
                background: radial-gradient(
                    173.12% 309.58% at 127.96% 157.71%,
                    #f9d5c6 0%,
                    rgba(249, 213, 198, 0) 100%
                );
                .image {
                    &::before {
                        content: url("../images/rays-1.svg");
                    }
                }
                .block-title {
                    color: #b27251;
                }
                p {
                    color: #b27251;
                }
            }
            // @include bp(mobile) {
            //     .block-content {
            //         background: radial-gradient(
            //             173.12% 309.58% at 127.96% 157.71%,
            //             #bfc3e9 0%,
            //             rgba(191, 195, 233, 0) 100%
            //         );
            //         .image {
            //             &::before {
            //                 content: url("../images/rays-1.svg");
            //             }
            //         }
            //     }
            //     .block-title {
            //         color: #b27251;
            //     }
            //     p {
            //         color: #b27251;
            //     }
            // }
        }

        li:nth-child(5n + 2) {
            .block-content {
                background: radial-gradient(
                    173.12% 309.58% at 127.96% 157.71%,
                    #bfc3e9 0%,
                    rgba(191, 195, 233, 0) 100%
                );
                .image {
                    &::before {
                        content: url("../images/rays-2.svg");
                    }
                }
                .block-title {
                    color: #7e83a5;
                }
                p {
                    color: #7e83a5;
                }
            }
            @include bp(mobile) {
                .block-content {
                    background: radial-gradient(
                        173.12% 309.58% at 127.96% 157.71%,
                        #bfc3e9 0%,
                        rgba(191, 195, 233, 0) 100%
                    );
                    .image {
                        &::before {
                            content: url("../images/rays-2.svg");
                        }
                    }
                    .block-title {
                        color: #7e83a5;
                    }
                    p {
                        color: #7e83a5;
                    }
                }
            }
        }

        li:nth-child(5n + 3) {
            .block-content {
                background: radial-gradient(
                    173.12% 309.58% at 127.96% 157.71%,
                    #f8ecc2 0%,
                    rgba(248, 236, 194, 0) 100%
                );
                .image {
                    &::before {
                        content: url("../images/rays-3.svg");
                    }
                }
                .block-title {
                    color: #a59b75;
                }
                p {
                    color: #a59b75;
                }
            }
            @include bp(mobile) {
                .block-content {
                    background: radial-gradient(
                        173.12% 309.58% at 127.96% 157.71%,
                        #f8ecc2 0%,
                        rgba(248, 236, 194, 0) 100%
                    );

                    .image {
                        &::before {
                            content: url("../images/rays-3.svg");
                        }
                    }
                }
                .block-title {
                    color: #a59b75;
                }
                p {
                    color: #a59b75;
                }
            }
        }
        li:nth-child(5n + 4) {
            .block-content {
                background: radial-gradient(
                    173.12% 309.58% at 127.96% 157.71%,
                    #b3e0ff 0%,
                    rgba(179, 224, 255, 0) 100%
                );
                .image {
                    &::before {
                        content: url("../images/rays-4.svg");
                    }
                }
                .block-title {
                    color: #5a7588;
                }
                p {
                    color: #5a7588;
                }
            }
            @include bp(mobile) {
                .block-content {
                    background: radial-gradient(
                        173.12% 309.58% at 127.96% 157.71%,
                        #b3e0ff 0%,
                        rgba(179, 224, 255, 0) 100%
                    );
                    .image {
                        &::before {
                            content: url("../images/rays-4.svg");
                        }
                    }
                    .block-title {
                        color: #5a7588;
                    }
                    p {
                        color: #5a7588;
                    }
                }
            }
        }
        li:nth-child(5n + 5) {
            .block-content {
                background: radial-gradient(
                    173.12% 309.58% at 127.96% 157.71%,
                    #cae9bf 0%,
                    rgba(202, 233, 191, 0) 100%
                );
                .image {
                    &::before {
                        content: url("../images/rays-5.svg");
                    }
                }
                .block-title {
                    color: #84977e;
                }
                p {
                    color: #84977e;
                }
            }
            @include bp(mobile) {
                .block-content {
                    background: radial-gradient(
                        173.12% 309.58% at 127.96% 157.71%,
                        #cae9bf 0%,
                        rgba(202, 233, 191, 0) 100%
                    );
                    .image {
                        &::before {
                            content: url("../images/rays-5.svg");
                        }
                    }
                    .block-title {
                        color: #84977e;
                    }
                    p {
                        color: #84977e;
                    }
                }
            }
        }
        li:nth-child(5n + 6) {
            .block-content {
                background: radial-gradient(
                    173.12% 309.58% at 127.96% 157.71%,
                    #ebc7df 0%,
                    rgba(249, 213, 198, 0) 100%
                );

                .image {
                    &::before {
                        content: url("../images/rays-5.svg");
                    }
                }
                .block-title {
                    color: #df6b8d;
                }
                p {
                    color: #df6b8d;
                }
            }
            @include bp(mobile) {
                .block-content {
                    background: radial-gradient(
                        173.12% 309.58% at 127.96% 157.71%,
                        #ebc7df 0%,
                        rgba(249, 213, 198, 0) 100%
                    );
                    .image {
                        &::before {
                            content: url("../images/rays-5.svg");
                        }
                    }
                    .block-title {
                        color: #df6b8d;
                    }
                    p {
                        color: #df6b8d;
                    }
                }
            }
        }
        .moreInfo {
            li:nth-child(5n + 1) {
                .block-content {
                    background: radial-gradient(
                        173.12% 309.58% at 127.96% 157.71%,
                        #b3e0ff 0%,
                        rgba(179, 224, 255, 0) 100%
                    );
                    .image {
                        &::before {
                            content: url("../images/rays-3.svg");
                        }
                    }
                    .block-title {
                        color: #5a7588;
                    }
                    p {
                        color: #5a7588;
                    }
                }
                @include bp(mobile) {
                    .block-content {
                        background: radial-gradient(
                            173.12% 309.58% at 127.96% 157.71%,
                            #b3e0ff 0%,
                            rgba(179, 224, 255, 0) 100%
                        );

                        .image {
                            &::before {
                                content: url("../images/rays-3.svg");
                            }
                        }
                    }
                    .block-title {
                        color: #5a7588;
                    }
                    p {
                        color: #5a7588;
                    }
                }
            }
            li:nth-child(5n + 2) {
                .block-content {
                    background: radial-gradient(
                        173.12% 309.58% at 127.96% 157.71%,
                        #f8ecc2 0%,
                        rgba(248, 236, 194, 0) 100%
                    );
                    .image {
                        &::before {
                            content: url("../images/rays-4.svg");
                        }
                    }
                    .block-title {
                        color: #a59b75;
                    }
                    p {
                        color: #a59b75;
                    }
                }
                @include bp(mobile) {
                    .block-content {
                        background: radial-gradient(
                            173.12% 309.58% at 127.96% 157.71%,
                            #f8ecc2 0%,
                            rgba(248, 236, 194, 0) 100%
                        );
                        .image {
                            &::before {
                                content: url("../images/rays-4.svg");
                            }
                        }
                        .block-title {
                            color: #a59b75;
                        }
                        p {
                            color: #a59b75;
                        }
                    }
                }
            }
            li:nth-child(5n + 3) {
                .block-content {
                    background: radial-gradient(
                        173.12% 309.58% at 127.96% 157.71%,
                        #e7d5e1 0%,
                        rgba(231, 213, 225, 0) 100%
                    );
                    .image {
                        &::before {
                            content: url("../images/rays-5.svg");
                        }
                    }
                    .block-title {
                        color: #bb87a9;
                    }
                    p {
                        color: #bb87a9;
                    }
                }
                @include bp(mobile) {
                    .block-content {
                        background: radial-gradient(
                            173.12% 309.58% at 127.96% 157.71%,
                            #e7d5e1 0%,
                            rgba(231, 213, 225, 0) 100%
                        );
                        .image {
                            &::before {
                                content: url("../images/rays-5.svg");
                            }
                        }
                        .block-title {
                            color: #bb87a9;
                        }
                        p {
                            color: #bb87a9;
                        }
                    }
                }
            }
        }

        @include bp(tablet-sm) {
            flex-direction: column;
            align-items: center;
            min-width: 100%;
            padding: 0;
        }

        @include bp(tablet-sm) {
            li {
                width: 100%;
                max-width: 440px;
                margin: 0 auto;
            }
        }

        .moreInfo {
            display: none;

            @include bp(tablet-sm) {
                width: 100%;
            }
        }
    }

    .view-more-section {
        display: none;

        @include bp(tablet-sm) {
            display: block;
        }

        .view-more {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;
            @include font-rem(14px, 19px);
            margin: 0 auto;
            gap: 10px;
            display: flex;
            justify-content: center;
            color: #005ba2;
            cursor: pointer;
        }
    }

    .ticker-wrapper,
    .ticker-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    @include bp(tablet-sm) {
        padding: 50px 0 50px;
    }
}

@keyframes rotate_me {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
