section.faq-section {
  // margin-top: -550px;
  padding-top: 100px;
  padding-bottom: 90px;
  @include bp(tablet-sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  //title
  .faq-title-wrap {
    text-align: center;
    margin-bottom: 50px;

    .faq-title {
      text-align: center;
      margin: 0 auto;
      @include font-rem(32px, 42px);
      font-weight: 700;

      text-align: center;
      color: #2b2c3e;

      @include bp(sm) {
        text-align: left;
        @include font-rem(22px, 29px);
      }
    }

    @include bp(tablet-sm) {
      margin-bottom: 30px;
    }
  }

  // filter buttons
  .filter-btn-wrap {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    button {
      padding: 8px 30px;
      border: none;
      background-color: color(secondary, light-blue);
      color: color(primary, blue);
      margin-right: 10px;
      font-weight: 600;
      border-radius: 20px;

      &.active {
        color: color(white);
        background-color: color(primary, blue);
      }

      &:last-of-type {
        margin-right: 0px;
      }
    }

    @include bp(tablet-sm) {
      margin-bottom: 35px;
    }
  }

  .faq-accordion-wrap {
    .accordion {
      position: static !important;
      color: color(primary, black);
      margin-bottom: 20px;

      .category-name {
        margin-bottom: 10px;
        color: color(primary, blue);
      }

      .card {
        border-radius: 5.025px;
        border: none;
        margin-bottom: 10px;
        background: #fafafa;

        .card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          background: #fafafa;
          border-radius: 5.025px;
          border: none;
          cursor: pointer;

          h5 {
            @include font-rem(14px, 20px);
            font-weight: 600;
            letter-spacing: 0.2px;
            color: #2b2c3e;
          }

          &.collapsed {
            &::after {
              transform: rotate(-45deg);
            }
          }

          &::after {
            display: inline-block;
            content: url("../images/plus.svg");
            margin-left: 15px;
            -webkit-transition: transform 0.3s ease-out;
            -moz-transition: transform 0.3s ease-out;
            -ms-transition: transform 0.3s ease-out;
            -o-transition: transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
          }

          h5 {
            color: color(secondary, dark-black);
          }
        }

        .collapse {
          background: #fafafa;
          border-radius: 5.025px;
        }

        .card-body {
          border: none;
          color: color(primary, black);
          padding: 0 17px 20px;

          p {
            @include font-rem(12px, 18px);
            font-weight: 400;
            color: #434c5b;

            margin-bottom: 0px;

            span {
              text-decoration: underline;
            }

            a {
              color: color(primary, blue);
            }

            &.para-1 {
              padding-bottom: 20px;
            }
          }

          .card-list ul {
          }

          ul {
            padding-left: 25px;
            margin-bottom: 0;

            li {
              list-style-type: disc;
              @include font-rem(12px, 18px);
              font-weight: 400;
              color: #434c5b;
            }
          }

          .contact-faq {
            display: flex;
            align-items: center;
            margin-top: 15px;

            p {
              //text-align: center;
              @include font-rem(12px, 18px);
              font-weight: 700;
            }

            a {
              @include font-rem(12px, 18px);
              font-weight: 400;
              color: #434c5b;
            }

            .contact-email {
              padding-right: 20px;
            }
          }

          table,
          th,
          td {
            border: 1px solid #2b2c3e;
            text-align: left;
          }

          table {
            max-width: 669px;
            width: 100%;
            margin-top: 25px;
            border-collapse: collapse;

            tr {
              //text-align: center;
            }

            th {
              text-align: center;
              @include font-rem(12px, 18px);
              font-weight: 700;
              padding: 8px 0px;

              &.th-cls {
                width: 262px;

                @include bp(tablet-sm) {
                  width: auto;
                }
              }
            }

            td {
              @include font-rem(12px, 18px);
              font-weight: 400;
              padding-left: 14px;
              vertical-align: top;
              padding-top: 12px;
              padding-bottom: 11px;
            }

            ul {
              padding-left: 25px;

              li {
                color: #434c5b;
                @include font-rem(12px, 18px);
                list-style: disc;
                font-weight: 400;
                .or-block {
                  text-align: center;
                  @include bp(sm) {
                    text-align: left;
                  }
                }
              }
            }

            @include bp(tablet-sm) {
              width: auto;
            }
          }
        }
      }

      // .faq-more {
      //   display: none;
      // }

      // #show-less,
      // #show-more {
      //   text-align: center;

      //   .show-link {
      //     color: color(primary, blue);
      //     @include font-rem(14px, 18px);
      //     font-weight: 700;
      //     position: relative;
      //     z-index: 9;

      //     @include bp(mobile) {
      //       @include font-rem(12px, 16px);
      //     }
      //   }
      //   .arr-down {
      //     margin-left: 5px;
      //   }
      //   .arr-up {
      //     transform: rotate(180deg);
      //     margin-bottom: 2px;
      //   }
      //   // &::after {
      //   //   content: url("../src/img/faq-section/arr-down.svg");
      //   //   margin-left: 10px;
      //   // }
      // }
    }
  }
}

.table-gap {
  padding: 0 17px 20px;

  @include bp(sm) {
    // padding: 0 17px 20px;
  }
  .table-scroll {
    // padding: 0 17px 20px;
    @include bp(sm) {
      // padding: 0;
    }
    table {
      table-layout: fixed;
      border: 1px solid #000;
      thead {
        tr {
          th {
            border: 1px solid #000;
            @include bp(tablet-sm) {
              border: 0px solid #000;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            border: 1px solid #000;
            @include bp(tablet-sm) {
              border: 0px solid #000;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
            }
          }
        }
      }
      @include bp(tablet-sm) {
        table-layout: unset;
        border: 0;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
      }
    }
  }
}

.th-cls {
  font-size: 12px;
  line-height: 15px;
  // vertical-align: middle;
  padding: 10px;
  text-align: center;
  color: #434c5b;
  font-weight: 900;
}
tbody tr td {
  font-size: 12px;
  line-height: 17px;
  font-weight: 600;
  padding: 10px;
  text-align: left;
}
@include bp(tablet-sm) {
  .table-scroll {
    position: relative;
    max-width: unset;
    margin: auto;
    overflow: hidden;
    border: 0 solid #000;
  }
  .table-wrap {
    width: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 10px;
      width: 16px;
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #015292;
      border-radius: 8px;
      // border: 3px solid #e1e1e1;
      width: 5px;
      height: 6px;
      scrollbar-width: auto;
    }
  }
  .table-scroll table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
  }
  .table-scroll th,
  .table-scroll td {
    padding: 5px 10px;
    border: 1px solid #000;
    background: #fff;
    // white-space: nowrap;
    vertical-align: middle;
  }
  .table-scroll thead,
  .table-scroll tfoot {
    background: #f9f9f9;
  }

  .clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .clone th,
  .clone td {
    visibility: hidden;
  }
  .clone td,
  .clone th {
    border-color: transparent;
  }
  .clone tbody th {
    visibility: visible;
    color: red;
  }
  .clone .fixed-side {
    // background: #eee;
    visibility: visible;
    @include bp(sm) {
      box-shadow: 8px 2px 10px rgba(31, 41, 55, 0.16);
    }
    border: 0px solid #000;
    border-right: 1px solid;
  }
  .clone thead,
  .clone tfoot {
    background: transparent;
  }
}
