.mobile-app {
    background: #f8fcff;

    background: radial-gradient(108.25% 150.46% at 59.01% 67.1%, #005ba2 0%, #003d6c 100%);
    color: #fff;
    .section-title {
        margin-top: 105px;
        margin-bottom: 50px;
        @include bp(tablet-sm) {
            margin-top: 50px;
        }
        h3 {
            @include font-rem(32px, 42px);
            font-weight: 700;

            // color: #2b2c3e;
            margin: 0 0 20px;
            max-width: 507.71px;

            @include bp(sm) {
                @include font-rem(22px, 29px);
                max-width: unset;
            }
        }

        p {
            // color: #2b2c3e;
            margin: 0;

            @include bp(tablet-sm) {
                @include font-rem(14px, 20px);
            }
        }
    }

    .service-item {
        img {
            margin-bottom: 15px;
            width: 60px;
            height: 60px;
        }

        h4 {
            @include font-rem(16px, 22px);
            font-weight: 700;
            letter-spacing: 0.2px;
            // color: #2b2c3e;
            margin: 0 0 6px;

            @include bp(tablet-sm) {
                @include font-rem(14px, 20px);
            }
        }

        p {
            @include font-rem(12px, 18px);
            font-weight: 400;
            // color: #2b2c3e;
            opacity: 0.7;
            // @include bp(mobile) {
            //     @include font-rem(12px, 18px);
            // }
        }
    }

    .mobile-app-img {
        text-align: right;
        margin-top: 50px;

        @include bp(tablet-sm) {
            display: none;
        }
    }

    .app-store {
        margin-top: 22px;
        display: flex;
        gap: 24px;
        align-items: center;
        padding-bottom: 115px;
        img {
            width: 170px;
            height: 50px;
        }
        @include bp(tablet-sm) {
            display: none;
        }
        &:hover {
            a {
                // transform: scale(0.9);
            }
        }
    }

    .app-store-m {
        display: none;

        @include bp(tablet-sm) {
            display: block;
            margin-top: 40px;
            margin-bottom: 29px;
        }

        img {
            height: 34px;
            width: 115px;
            &:last-child {
                margin-top: 20px;
            }
        }
    }

    .mobile-app-m {
        display: none;

        @include bp(tablet-sm) {
            display: block;
            text-align: right;
            margin-right: -15px;
        }
    }

    .custom-gap {
        padding-left: 0;
        padding-right: 0;
    }
}
