.target-sections {
    display: none;
    background-color: #ffffff;
    margin: 0 auto 0;
    padding: 5px 8px 5px 50px;

    box-shadow: 0px 4px 19px rgba(0, 0, 0, 25%);

    border-radius: 129px;
    max-width: 1137px;

    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 10px;
    z-index: 999;
    @include bp(desktop-sm) {
        padding: 5px 8px 5px 8px;
        max-width: 998px;
    }
    @include bp(tablet-sm) {
        margin: 0 10px 0;
        padding: 5px;
        border-radius: 32px;
        width: unset;
    }
    @include bp(mobile) {
        bottom: 25px;
    }
    .btn-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        align-items: center;

        transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        @include bp(mobile) {
            display: table;
            width: 100%;
            position: relative;
        }
        .menu-header-container {
            @include bp(tablet-sm) {
                display: none;
            }
        }
        .links-holder {
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin: 0;
            @include bp(desktop-sm) {
                gap: 15px;
            }
            @include bp(tablet-sm) {
                // position: absolute;
                display: block;
                text-align: center;
            }
            li {
                .links {
                    font-family: "Open Sans";

                    font-weight: 700;
                    @include font-rem(14px, 30px);
                    color: #434c5b;
                    position: relative;
                    transition: top 0.4s, transform 30s 0.2s linear, -webkit-transform 30s 0.2s linear;
                    top: 0;
                    @include bp(tablet-sm) {
                        @include font-rem(14px, 30px);
                        opacity: 0.5;
                    }
                    &.active {
                        top: -5px;
                        transition: top 0.4s, transform 30s 0.2s linear, -webkit-transform 30s 0.2s linear;
                        color: #005ba2;
                        &::before {
                            width: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                        @include bp(mobile) {
                            display: block;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -10px;
                        height: 5px;
                        background: #005ba2;
                        border-radius: 91px;
                        width: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 1s;
                    }
                }
                @include bp(tablet-sm) {
                    border-bottom: 1px solid #ebebeb;
                    padding: 11px 0;
                }
                &:last-child {
                    border-bottom: 0;
                }
                // @include bp(mobile) {
                //     display: none;
                // }
            }
        }
    }
    .custom-space {
        padding-left: 0;
        padding-right: 0;
        .jump-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding-left: 15px;

            .links-name {
                @include font-rem(14px, 30px);
                font-weight: 700;
                // display: flex;
                // align-items: center;
                white-space: nowrap;
                /* width: 50px; */
                overflow: hidden;
                text-overflow: ellipsis;
                color: #005ba2;
                width: 100px;
                text-align: left;
            }
        }
        @include bp(tablet-sm) {
            // padding-right: 15px;
            // padding-left: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .button-holder {
            text-align: right;

            // @include bp(mobile) {
            //     float: right;
            // }
            .button {
                // width: 166px;
                text-align: center;
                // height: 50px;

                background: #005ba2;
                box-shadow: 0px 3px 8px rgba(151, 173, 192, 0.34%);
                border-radius: 28px;
                padding: 16px 35px 16px 35px;

                @include font-rem(14px, 19px);
                font-weight: 700;
                color: #ffffff;
                display: inline-block;
                @include bp(desktop-sm) {
                    padding: 16px 31px;
                }
                @include bp(tablet-sm) {
                    padding: 15.5px 35px;
                }
            }
        }
        .ham-icon {
            display: flex;
            align-items: center;

            width: 24px;
            height: 24px;
            // background: #ffffff;

            border-radius: 24px;
            text-align: center;
            // padding: 5px 16px 12px;

            @include bp(tablet-md) {
                display: none;
            }
        }
        .jump-links {
            display: none;
            @include bp(tablet-sm) {
                display: block;
            }
        }
    }
}
.pop-up-form {
    .modal {
        .modal-content {
            border: unset;
            border-radius: 15px;
            padding: 20px;

            .modal-header {
                border: unset;
                // padding-bottom: 0;
                padding: 0;
                justify-content: right;

                .close {
                    margin: 0;
                    padding: 0;
                    float: left;
                    text-shadow: none;
                    opacity: unset;
                }
            }
            .modal-body {
                padding: 0;

                li {
                    text-align: center;
                    .links {
                        font-weight: 700;
                        @include font-rem(14px, 30px);
                        color: #434c5b;
                        position: relative;
                        transition: top 0.4s, transform 30s 0.2s linear, -webkit-transform 30s 0.2s linear;
                        top: 0;
                        @include bp(tablet-sm) {
                            font-size: 14px;
                            line-height: 30px;
                            color: #434c5b;

                            opacity: 0.5;
                        }
                        &.active {
                            color: #005ba2;
                            opacity: 1;

                            &::before {
                                width: 100%;
                                opacity: 1;
                                visibility: visible;
                                @include bp(tablet-sm) {
                                    background: unset;
                                }
                            }
                            @include bp(mobile) {
                                display: block;
                            }
                        }
                    }
                    @include bp(tablet-sm) {
                        border-bottom: 1px solid #ebebeb;
                        padding: 11px 0;
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                    // @include bp(mobile) {
                    //     display: none;
                    // }
                }
            }
            .modal-footer {
                padding: 0;
                border: unset;

                .button {
                    width: 100%;
                }
                .button-holder {
                    text-align: center;
                    width: 100%;

                    @include bp(tablet-sm) {
                        display: none;
                    }
                    .button {
                        width: 100%;
                        text-align: center;
                        // height: 50px;

                        background: #005ba2;
                        box-shadow: 0px 3px 8px rgba(151, 173, 192, 0.34%);
                        border-radius: 28px;
                        padding: 16px 35px 16px 35px;

                        @include font-rem(14px, 19px);
                        font-weight: 700;
                        color: #ffffff;
                        display: inline-block;
                    }
                }
            }
            .modal-custom-block {
                text-align: center;
            }
        }
        .modal-dialog {
            @include bp(tablet-sm) {
                // padding: 30px;
                padding: 0;
                transform: translate(0, -50%) !important;
                top: 50%;
                margin: 0 auto;
            }
        }
    }
}
.pop-up-form {
    .modal {
        @include bp(mobile) {
            padding: 20px;
        }
    }
}
// .modal.show .modal-dialog {
//     -webkit-transform: none;
//     transform: translate(0, 50%);
//     bottom: 0;
// }
// @media (max-width: 767px) {
//     .pop-up-form
// }
